.c-section {
  @include l-more-than-mobile {
    display: flex;
    align-items: center;
    margin-top: (200 / 1366) * 100%;
    margin-bottom: (200 / 1366) * 100%;
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  &__image {
    overflow: hidden;
    position: relative;
    @include l-more-than-mobile {
      width: 60%;
      padding-top: (60 / 100) * 66.6%;
    }
    @include l-mobile {
      padding-top: (60 / 100) * 100%;
    }
    img {
      width: 110%;
      position: absolute;
      top: -5%; left: -5%;
    }
  }
  &__content {
    box-sizing: border-box;
    @include fontSizeAll(14, 14, 12);
    @include l-more-than-mobile {
      width: 40%;
      padding-right: 5%;
      padding-left: 5%;
    }
    @include l-mobile {
      padding: 20px;
    }
  }
  &__head {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSizeAll(32, 24, 21);
  }
}
