.c-section {
  @include l-more-than-mobile {
    display: flex;
    align-items: center;
    margin-top: (200 / 1366) * 100%;
    margin-bottom: (200 / 1366) * 100%;
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  &__image {
    @include l-more-than-mobile {
      width: 60%;
    }
    &-in {
      overflow: hidden;
      position: relative;
      padding-top: 66.6%;

      @include l-mobile {
      }
      img {
        width: 120%;
        position: absolute;
        top: -10%; left: -10%;
      }
    }
  }
  &__content {
    box-sizing: border-box;
    @include l-more-than-mobile {
      width: 40%;
      padding-right: 5%;
      padding-left: 5%;
    }
    @include l-mobile {
      padding: 20px;
    }
  }
  &__head {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSizeAll(32, 24, 21);
  }
}
