.c-text-link-underline {
  display: inline-block;
  position: relative;
  color: $color-text-black;
  text-decoration: none;
  &:before, &:after {
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    background-color: $color-text-black;
  }
  &:before {
    transform-origin: right;
  }
  &:after {
    transform: scaleX(0);
    transform-origin: left;
  }
  &.is-over {
    &:before, &:after {
      transition-duration: 0.2s;
    }
    &:before {
      transform: scaleX(0);
    }
    &:after {
      transform: scaleX(1);
      transition-delay: 0.2s;
    }
  }
}
