html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow-y: scroll;
  font-family: $font-ja;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'palt';
  line-height: 2;
  letter-spacing: 0.1em;
  background-color: #111;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
img {
  vertical-align: top;
}
input, button, select {
  appearance: none;
}
select::-ms-expand {
  display: none;
}
::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
input::selection,
textarea::selection {
  color: $color-text-black;
  background: rgba(0, 0, 0, 0.2);
}
