extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index2;

block contentFixedBefore

block contentStatic
  .p-contents-header
    .p-contents-header__in
      h1.p-contents-header__title
        |Scroll Manager
      p.p-contents-header__excerpt.js-smooth-item
        |Scroll Manager is utility class
        br
        |that controls showing some elements by scroll event.
      .p-contents-header__btn.js-smooth-item(
        data-ratio = 0.1
        )
        a.c-button-border.js-scroll-item.js-hover(
          href = 'https://github.com/ykob/scroll-manager',
          target = '_blank'
          )
          span.c-button-border__label
            |view source
          span.c-button-border__line-v
          span.c-button-border__line-h

  .l-contents__in
    .c-section
      .c-section__image
        .c-section__image-in.js-smooth-item
          img.js-parallax-item(src = "./img/common/photo_jameson.jpg", alt="")
      .c-section__content
        h2.c-section__head
          |JAMESON
        p
          |The John Jameson and Son Irish Whiskey company was formally established in 1810 when John Jameson and his son (also John Jameson) took ownership of the Bow Street Distillery in Dublin which had originally been built by his wife's cousins the Steins in 1780. 
    
    .c-section.c-section--reverse
      .c-section__image
        .c-section__image-in.js-smooth-item
          img.js-parallax-item(src = "./img/common/photo_oldparr.jpg", alt="")
      .c-section__content
        h2.c-section__head
          |Grand Old Parr
        p
          |Grand Old Parr (often simply just Old Parr) is a blended Scotch whisky named after the reputed oldest man in England. Launched in 1909, it is found in export markets such as Japan, Mexico, South America and in The United States of America and is no longer distributed in the United Kingdom.
    
    .c-section
      .c-section__image
        .c-section__image-in.js-smooth-item
          img.js-parallax-item(src = "./img/common/photo_bushmills.jpg", alt="")
      .c-section__content
        h2.c-section__head
          |BUSHMILLS
        p
          |The Old Bushmills Distillery is a distillery in Bushmills, County Antrim, Northern Ireland. As of December 2014, it was in the process of transitioning from ownership by Diageo plc to Jose Cuervo. 

    .p-accordion-wrap
      .p-accordion.js-accordion
        .p-accordion__head.js-accordion-trigger
          |Accordion Header A
          .p-accordion__icon
        .p-accordion__body.c-accordion__body.js-accordion-body
          .p-accordion__body-in.c-accordion__body-in.js-accordion-body-in
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
      .p-accordion.js-accordion
        .p-accordion__head.js-accordion-trigger
          |Accordion Header B
          .p-accordion__icon
        .p-accordion__body.c-accordion__body.js-accordion-body
          .p-accordion__body-in.c-accordion__body-in.js-accordion-body-in
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
      .p-accordion.js-accordion
        .p-accordion__head.js-accordion-trigger
          |Accordion Header C
          .p-accordion__icon
        .p-accordion__body.c-accordion__body.js-accordion-body
          .p-accordion__body-in.c-accordion__body-in.js-accordion-body-in
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.

block contentFixedAfter
  .p-contents-header-bg
  
