extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1.p-contents-header
    span.p-contents-header__in
      |Scroll Manager

block contentFixedAfter
