.p-contents-header-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-image: url('../img/common/kv.jpg');
  background-size: cover;
  background-position: center;
  &.is-hidden {
    display: none;
  }
}
