@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/_variables";
@import "foundation/_keyframes";

// Mixins
@import "foundation/_mixin-utils";
@import "foundation/_mixin-easing";

// Base
@import "foundation/_normalize";
@import "foundation/_global";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/_contents";
@import "layout/_dummy-scroll";
@import "layout/_gf";
@import "layout/_gh";
@import "layout/_page";

// ==========================================================================
// Object
// ==========================================================================
// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "object/component/_accordion";
@import "object/component/_button-border";
@import "object/component/_section";
@import "object/component/_text-link-underline";

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------
@import "object/project/_accordion-wrap";
@import "object/project/_accordion";
@import "object/project/_contents-header-bg";
@import "object/project/_contents-header";
@import "object/project/_footer-copy";
@import "object/project/_footer-link";
@import "object/project/_local-navi";

// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
@import "object/utility/_d";
@import "object/utility/_dn";
@import "object/utility/_fw";
@import "object/utility/_fz";
@import "object/utility/_m";
@import "object/utility/_ta";
@import "object/utility/_trsde";
@import "object/utility/_tt";
@import "object/utility/_whs";

// -----------------------------------------------------------------
// Vendor
// -----------------------------------------------------------------
// @import "object/vendor/_xxx";
