.l-gf
  .p-footer-copy
    |created by yoichi kobayashi.
  .p-footer-link.p-footer-link
    a(href="https://github.com/ykob/sketch-threejs/", target="_blank").p-footer-link__item.js-transition-intro
      +iconGitHub(24)
    a(href="https://twitter.com/ykob0123", target="_blank").p-footer-link__item.js-transition-intro
      +iconTwitter(24)
    a(href="mailto:info@tplh.net").p-footer-link__item.js-transition-intro
      +iconMail(24)
